In [16]:
from flask import Flask, request, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy
app = Flask(__name__)
import pandas as pd 
from sqlalchemy.ext.automap import automap_base
# Import relevant libraries
import calendar
from datetime import datetime
import numpy as np

# Import Matplotlib
import matplotlib.pyplot as plt

In [17]:
app.config["SQLALCHEMY_DATABASE_URI"] = "sqlite:///db/GlobalWarming"

db = SQLAlchemy(app)

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(db.engine, reflect=True)

# Save references to each table
Samples_Metadata = Base.classes.GlobalMnTemp
CO2ConsumptionPerCapita = Base.classes.CO2ConsumptionPerCapita

C:\Users\manoj\Anaconda3\envs\PythonData\lib\site-packages\flask_sqlalchemy\__init__.py:800: UserWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True to suppress this warning.
  warnings.warn('SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True to suppress this warning.')

In [18]:
    temp = db.session.query(Samples_Metadata).statement
    temp_df = pd.read_sql_query(temp, db.session.bind)

In [23]:
import sqlite3
conn = sqlite3.connect("db/GlobalWarming")
df = pd.read_sql_query("select * from GlobalMnTemp limit 5;", conn)
df

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,J-D,D-N,DJF,MAM,JJA,SON
0,1880,-0.30,-0.18,-0.12,-0.20,-0.12,-0.24,-0.22,-0.10,-0.17,-0.24,-0.20,-0.23,-0.19,***,***,-0.15,-0.18,-0.20
1,1881,-0.16,-0.18,0.03,0.03,0.01,-0.21,-0.07,-0.03,-0.14,-0.21,-0.22,-0.11,-0.11,-0.12,-0.19,0.03,-0.10,-0.19
2,1882,0.13,0.14,0.03,-0.19,-0.17,-0.27,-0.21,-0.06,-0.11,-0.25,-0.17,-0.25,-0.11,-0.1,0.05,-0.11,-0.18,-0.18
3,1883,-0.32,-0.39,-0.13,-0.18,-0.21,-0.13,-0.09,-0.16,-0.21,-0.14,-0.23,-0.16,-0.20,-0.2,-0.32,-0.17,-0.13,-0.20
4,1884,-0.16,-0.09,-0.38,-0.43,-0.37,-0.41,-0.35,-0.27,-0.28,-0.25,-0.31,-0.29,-0.30,-0.29,-0.14,-0.39,-0.35,-0.28